:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 2000px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/jeremy-wong-weddings-464ps_nOflw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale();
  z-index: -1;
}
.hero {
  position: relative;
  min-height: 100vh;
}
.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}
.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}
.hero a:hover {
  background-color: var(--pink);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}
.mynavbar .offcanvas {
  height: 100vh;
}
.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2em;
  font-weight: bold;
}
.container .offcanvas-body .navbar-nav .nav-link {
  text-transform: uppercase;
}
.home {
  background-image: url(img/floral\ patterns.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -7rem;
  padding-top: 12rem;
  padding-bottom: 5rem;
}

.home h2 {
  color: var(--pink);
  font-family: "Sacramento", cursive;
  font-weight: bold;
  font-size: 5rem;
}
.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.home p {
  color: #666;
  font-size: 1.1rem;
}

.home .couple {
  margin-top: 50px;
}
.home .couple h3 {
  color: var(--pink);
  font-family: "Sacramento", cursive;
  font-size: 2.4rem;
}
.home .couple img {
  width: 100%;
}
.home .container span {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}
.home .container span i {
  color: var(--pink);
  margin: auto;
}

/* media query */

/* Extra Large */
@media (max-width: 1200px) {
  .home .container span {
    transform: translateX(-50%) translateY(45px);
  }
}

/* leptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 78px;
  }
  .home .container span {
    display: none;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
    margin: 5px;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
  }
  .container .offcanvas-body .navbar-nav .nav-link {
    font-size: 2rem;
    text-align: center;
  }
}
/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
  }
}
